<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Hamonia Media Weaver</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="description" content="PDF Viewer" />
	
	<!-- <preference name="MediaPlaybackRequiresUserAction" value="true"/> -->
	
	<link rel="shortcut icon" href="/views/logo.png">
	<link rel="shortcut icon" href="/img/favicon.ico">
	
	<!-- Bootstrap core CSS-->
	<link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="/css/vendor/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Page level plugin CSS-->
	<link href="/css/vendor/dataTables.bootstrap4.css" rel="stylesheet">
	<!-- Custom styles for this template-->
	<link href="/css/sb-admin.css" rel="stylesheet">
	
	<!-- Bower CSS styles -->
	<link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="/css/material-design-iconic-font.min.css">
	<link type="text/css" rel="stylesheet" href="/css/lumx.css">
	
	<!-- Custom CSS styles -->
	<link type="text/css" rel="stylesheet" href="/css/googleapis-fonts.css">
	
	<link type="text/css" rel="stylesheet" href="/css/index.css" />
	<link type="text/css" rel="stylesheet" href="/css/reset.css" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" href="/css/fileshare_style.css" />
	<link rel="stylesheet" type="text/css" href="/css/fileshare_mian.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
	<script src="/js/jquery.cookie.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
	
	
	<!-- 확인을 위해 script src="/dist/RTCMultiConnection.min.js"></script -->
	<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script src="/dist/RTCMultiConnection.js"></script>
	<script src="/dev/adapter.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<!-- custom layout for HTML5 audio/video elements -->
	<link rel="stylesheet" href="/dev/getHTMLMediaElement.css">
	<script src="/dev/getHTMLMediaElement.js"></script>
	<script src="/dev/FileBufferReader.js"></script>
	
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119868541-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-119868541-1');
	</script>
</head>

<script type="text/javascript">
	function psycareFnt(){
		if( '<%= roomID %>') document.getElementById('room-id').value = '<%= roomID %>';
		if( '<%= userName %>') document.getElementById('userName').value = '<%= userName %>';
		if( '<%= psycare %>') document.getElementById('psycare').value = '<%= psycare %>';
		
		if( document.getElementById('room-id').value.length != 0 && document.getElementById('psycare').value == 'psycare' ){
			$('#open-or-join-room').trigger('click');
		}
	}
</script>

<style>
	html, body { height: 100%; }
</style>

<body id="page-top">
	
	<input type="hidden" id="room-id">
	<input type="hidden" id="userName" name="userName">
	<input type="hidden" id="psycare" name="psycare">
	
	<div id="roomHeadDiv">
		<!-- 로고 -->
		<div id="logo">
			<img src="/img/logo.png">
			
			<!-- Link -->
			<div id="linkDiv" style="display: none;">
				<!-- 인원수 -->
				<div class="userCntDiv">
					<div class="mdi md-people"></div>
					<span id="userCnt">1</span><span>/4</span>
				</div>
				
				<div class="displayUrl"></div>
				
				<div class="copylinkBtnDiv">
					<input type="button" class="btn" value="Copy Link" onclick="clipboardBtn();">
					<input id="clip_target" type="text" value="" style="position:absolute;top:-9999em;"/>
				</div>
			</div>
		</div>
		
		<!-- 메뉴 -->
		<div id="menuDiv">
			<div class="menuLineDiv">
				<!-- 나가기 -->
				<button class="btn btn--xl btn--red btn--fab mdi md-close" id="btn-leave-room" data-value="false" title="종료" style="position: relative; overflow: hidden; font-size: 1.5rem;">
					<span class="ripple" style="height: 56px; width: 56px; top: 2px; left: 18.125px;"></span>
					<p id="closeText">종료</p>
				</button>
			</div>
		</div>
	</div>
	
	<!-- room page start -->
	<div id="joinRoom">
		
		<!-- 로딩 -->
		<div id="roomProgressBar">
			<div class="row" style="height: 100%;">
	            <div id="loading">
	                <ul class="bokeh">
	                    <li></li>
	                    <li></li>
	                    <li></li>
	                    <li></li>
	                </ul>
				</div>
			</div>
		</div>
		
		
		<!-- 영상 -->
		<div id="videos-container">
			
			<!-- link info -->
			<div id="linkInfoDiv" style="display: none;">
				<div>
					<p>초대하여 하모니아를 시작할 수 있습니다</p>
					<div class="displayUrl"></div>
					<input type="button" class="btn" value="Copy Link" onclick="clipboardBtn();">
				</div>
			</div>
		</div>
		
		<div id="room-urls" style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>
		
		
		<!-- 채팅 -->
		<div id="chat-container" data-value="false">
			
			<!-- 닫기 -->
			<button class="btn btn--grey btn--fab mdi md-close videoBtn" title="닫기" data-value="false" style="border-radius: 50%; padding: 2px 6px; position: absolute; right: 20px; top: 10px;">
				<span class="ripple" style="height: 56px; width: 56px; top: 6px; left: -14.625px;"></span>
			</button>
			
			<!-- 파일공유 -->
			<button class="btn btn--xl btn--purple btn--fab mdi md-file-upload" id="share-file" title="종료" disabled style="position: relative; overflow: hidden; font-size: 1.9rem;">
				<span class="ripple" style="height: 56px; width: 56px; top: 2px; left: 18.125px;"></span>
			</button>
			
			<!-- 파일 -->
		    <div id="file-container"></div>
		    
		    
		    <!-- 채팅내용 -->
		    <ul class="chat-output"></ul>
		    
		    <!-- 전송 -->
			<div class="textInputDiv row">
				<select id="transValue" class="form-control">
					<option value="nonTrans">선택</option>
					<option value="ko//en">한>영</option>
					<option value="en//ko">En>Ko</option>
				</select>
				
				<input type="text" id="input-text-chat" autocomplete="off">
				
				<button class="btn btn--xl btn--red btn--fab mdi md-send" id="messageSendBtn" title="전송" style="position: relative; overflow: hidden; font-size: 1.9rem;">
					<span class="ripple" style="height: 56px; width: 56px; top: 2px; left: 18.125px;"></span>
				</button>
			</div>
		</div>
	</div>
	
	
	<!-- 팝업용 백그라운드 -->
	<div id="mask" style="display: none; opacity: .7; z-index: 5;">
		<!-- <img alt="Loading" src="/img/spinner.gif"> -->
	</div>
	
	<!-- 메세지창 -->
	<div id="messageAlert">
		<div class="messageAlertTitle">알림</div>
		
		<div class="messageAlertContent">
			<p id="messageTag"></p>
		</div>
		
		<div class="messageAlertfooter">
			<input type="button" value="메인으로" class="btn messageBtn" onclick="">
		</div>
	</div>
	
	<!-- 닉네임변경창 -->
	<div id="changeNameAlert">
		<div class="changeNameAlertTitle">닉네임 변경</div>
		
		<div class="changeNameAlertContent">
			<input type="text" id="newName" class="form-control" placeholder="닉네임" value="" autocorrect=off autocapitalize=off size=20>
		</div>
		
		<div class="changeNameAlertfooter">
			<input type="button" value="확인" class="btn changeNameBtn" onclick="" style="background-color: #2BC1A4;">
			<input type="button" value="쥐소" class="btn changeNameCancelBtn" onclick="">
		</div>
	</div>
	
	<!-- 메세지창 -->
	<div id="messageAlert">
		<div class="messageAlertTitle">알림</div>
		
		<div class="messageAlertContent">
			<p id="messageTag"></p>
		</div>
		
		<div class="messageAlertfooter">
			<input type="button" value="메인으로" class="btn messageBtn" onclick="">
		</div>
	</div>
	
	<!-- 권한 허용방법 알림창 -->
	<div id="permissionAlert">
		<div class="permissionAlertTitle">알림</div>
		
		<div class="permissionAlertContent">
			<h5><b>브라우저가<br/>카메라와 마이크를 사용할 수 없습니다</b></h5>
			<div style="padding: 10px 10px 30px 10px; text-align: center;">
				<img class="chrome"  alt="" src="/img/camera_mic_tip_chrome.png">
				<img class="firefox" alt="" src="/img/camera_mic_tip_firefox.png" style="width: 100%;">
			</div>
			
			<p>서비스를 이용하려면 <br/><b>카메라 및 마이크 사용</b>을 설정해 주세요.</p>
			
			<p class="chrome firefox"><b>검색 주소창의 카메라 아이콘을 클릭</b>하세요.</p>
			
			<p class="chrome" style="margin-top: 2rem;"><b>카메라 및 마이크에 엑세스</b> 하려면 <br/><b>https://hamonia.kr을 항상 허용을 선택</b> 하세요.</p>
			<p class="firefox" style="margin-top: 2rem;"><b>카메라 및 마이크 권한 옆의 X</b>를 클릭한 뒤 다시 로드해 주세요.</p>
			<p class="mobile" style="margin-top: 2rem;">모바일의 경우 다시 로드해 주세요.</p>
			<p class="other" style="margin-top: 2rem;"><b>카메라 및 마이크에 엑세스 권한을 허용</b>후 <br/>다시 로드해 주세요.</p>
			
			<p class="" style="margin-top: 2rem; margin-bottom: 0; text-align: center;"><b>※ 카메라 해상도 640x320 이상을 지원합니다.</b></p>
			<p class="chrome" style="color: red; text-align: center;"><b>※ 허용으로 변경하면 자동 접속 됩니다.</b></p>
		</div>
		
		<div class="permissionAlertfooter">
			<input type="button" value="메인으로" class="btn permissionCloseBtn" onclick="location.href='/'">
		</div>
	</div>
	
	<!-- 옵션창 -->
	<div id="optionAlert" data-value="false">
		<div class="optionAlertTitle">설정</div>
		
		<div class="optionAlertContent">
			<div>
				<span>카메라<span>
				<select id="selectCamera" data-value="false"></select>
			</div>
            <br/>
			<div>
				<label style="margin-bottom: 0;">내 영상 좌우반전
				<input type="checkbox" id="myVideoRotate" checked data-value="true"></label>
			</div>
		</div>
		
		<div class="optionAlertfooter">
			<input type="button" value="확인" class="btn optionOkBtn">
			<input type="button" value="닫기" class="btn optionCloseBtn">
		</div>
	</div>
	
	
	<!-- 하단메뉴 -->
	<div id="footerMenu" style="display: none;">
		<div>
			<!-- 전체화면 -->
			<!-- 
			<button class="mobNone btn btn--xl btn--green btn--fab mdi md-fullscreen" onclick="goFullscreen(this)" title="Full screen" style="position: relative; overflow: hidden; font-size: 1.5rem;">
				<span class="ripple" style="height: 56px; width: 56px; top: -11px; left: -15.25px;"></span>
			</button>
			-->
			
			<!-- 옵션 버튼 -->
			<button class="btn btn--xl btn--blue btn--fab mdi md-settings buttonOption" title="설정" style="position: relative; overflow: hidden; font-size: 1.5rem;">
				<span class="ripple" style="height: 56px; width: 56px; top: -11px; left: -15.25px;"></span>
				<p>설정</p>
			</button>
			
			<br class="useWebBoard"/>
			
			<!-- 음소거 버튼 -->
			<button class="btn btn--xl btn--indigo btn--fab mdi md-volume-up buttonVolume" id="스피커 끄기" data-value="ture" style="position: relative; overflow: hidden; font-size: 1.5rem;">
				<span class="ripple" style="height: 56px; width: 56px; top: -11px; left: -15.25px;"></span>
				<p>스피커</p>
			</button>
			
			<br class="useWebBoard"/>
			
			<!-- 마이크 버튼 -->
			<button class="btn btn--xl btn--deep-purple btn--fab mdi md-mic buttonMic" title="마이크" style="position: relative; overflow: hidden; font-size: 1.5rem;">
				<span class="ripple" style="height: 56px; width: 56px; top: -11px; left: -15.25px;"></span>
				<p>마이크</p>
			</button>
			
			<br class="useWebBoard"/>
			
			<!-- 카메라 버튼 -->
			<button class="btn btn--xl btn--purple btn--fab mdi md-videocam buttonVideo" title="카메라" style="position: relative; overflow: hidden; font-size: 1.5rem;">
				<span class="ripple" style="height: 56px; width: 56px; top: -11px; left: -15.25px;"></span>
				<p>카메라</p>
			</button>
			
			<br class="useWebBoard"/>
			
			<!-- 채팅 open/close -->
			<button class="btn btn--xl btn--green btn--fab mdi md-chat chatBtn" title="채팅" style="position: relative; font-size: 1.5rem;">
				<div class="msgCntDiv" style="display: none;">
					<span>0</span>
				</div>
				<span class="ripple" style="height: 56px; width: 56px; top: 6px; left: -14.625px;"></span>
				<p>채팅</p>
			</button>
			
			<br class="useWebBoard"/>
			
			<!-- 영상 -->
			<button class="btn btn--xl btn--light-green btn--fab mdi md-person videoBtn" title="영상통화" data-value="false" style="position: relative; font-size: 1.5rem; display: none;">
				<span class="ripple" style="height: 56px; width: 56px; top: 6px; left: -14.625px;"></span>
				<p>영상통화</p>
			</button>
		</div>
	</div>
	<!-- room page end -->
	
	<script type="text/javascript" src="/js/browserCheck.js"></script>
	<script type="text/javascript" src="/js/room.js"></script>
	<script type="text/javascript" src="/js/index_room_view.js"></script>
	<script src="https://cdn.webrtc-experiment.com/common.js"></script>

	<script type="text/javascript" src="/js/jszip.min.js"></script>
	<script type="text/javascript" src="/js/FileSaver.js"></script>
	<script type="text/javascript" src="/js/pdf.js"></script>
	<script type="text/javascript" src="/js/pdf.worker.js"></script>
	<script type="text/javascript" src="/js/whiteboard.js"></script>
	
	<script>console.log('%cHELLO HAMONIA :)', 'color: #2BC1A4; font-size: 2rem; font-weight: bold');</script>
</body>
</html>